html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

tr.Open td {
    background-color: yellow;
}
tr.Taken td {
    background-color: grey;
}
