@model Garage2._0.Models.ParkVehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Park your vehicle</h1>

<h4>Enter the vehicle's data here</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleType" class="control-label"></label>
                <select asp-for="VehicleType" class="form-control" id="VehicleTypeId" 
                        asp-items="Html.GetEnumSelectList<VehicleType>()" >
                            <option value="">Choose vehicle type</option>
                </select>
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ParkingSlot" class="control-label" ></label>
                <select asp-for="ParkingSlot" class="form-control" id="ParkingSlotId"
                        ;">
                    <option value="">Choose Parking Slot</option>
                </select>
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>
  

            <div class="form-group">
                <label asp-for="RegNumber" class="control-label"></label>
                <input asp-for="RegNumber" class="form-control" />
                <span asp-validation-for="RegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wheels" class="control-label"></label>
                <input asp-for="Wheels" class="form-control" />
                <span asp-validation-for="Wheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckInTime" class="control-label"></label>
                <input asp-for="CheckInTime" class="form-control" />
                <span asp-validation-for="CheckInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Park" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script type="text/javascript">


const vehicleTypeDropDown = document.querySelector('#VehicleTypeId');

const getParkingSlot = () => {

    console.log("out ut in the....");
    var selectedVehicleType = $("#VehicleTypeId").val();
    var parkingSlotSelect = $('#ParkingSlotId');
    //var parkingSlotSelect = document.querySelector('#ParkingSlotId');
    parkingSlotSelect.empty();

    console.log ("here in the out..");
    if (selectedVehicleType != null && selectedVehicleType != '') {
        $.getJSON('@Url.Action("GetParkingSlots")', { vehicleType: selectedVehicleType }, function (slots) {
    console.log ("here in the func..");
            if (slots != null && !jQuery.isEmptyObject(slots)) {
                    console.log ("here in the inner..");
                //parkingSlotSelect.append($('<option/>', {
                //    value: null,
                //    text: ""
                //}));
                $.each(slots, function (index, slots) {
                        console.log ("here in the inner most loop..");
                        console.log ("here text" + slots.text);
                        console.log ("here value" + slots.value);

                option = document.createElement('option');
                option.setAttribute('value', slots.text);
                option.appendChild(document.createTextNode(slots.text));
                parkingSlotSelect.append(option);

                });
            };
        });
    }

}
vehicleTypeDropDown.addEventListener('change', getParkingSlot);

    
    </script>
}
}

