@{
    ViewData["Title"] = "Home Page";
}

        <h1 class="display-4">Classic Garage</h1>
        <p class="lead">A Garage Implementation by Group3.</p>
        <hr class="my-4">
        <p> Click on Garage Occupancy Chart to see the garage slots and its occupancy. Click on Check-In to park a vehicle. Click on Parked Vehicle List to list all vehicles in the garage and then checkout individually.</p>
        <a class="btn btn-outline-dark btn-lg m-2" asp-area="" asp-controller="ParkVehicles" asp-action="GarageSlots">Garage Occupancy Chart</a>
        <a class="btn btn-outline-dark btn-lg m-2" asp-area="" asp-controller="ParkVehicles" asp-action="Index">Parked Vehicle List</a>
        <a class="btn btn-outline-dark btn-lg m-2" asp-area="" asp-controller="ParkVehicles" asp-action="Create">Check-In</a>
