@{
    ViewData["Title"] = "Home Page";
}

        <h1 class="display-4">Classic Garage</h1>
        <p class="lead">A Garage Implementation by Group3.</p>
        <hr class="my-4">
        <p>Click on Check-In to park a vehicle. Check-Out to fetch a vehicle. List to list all vehicles in the garage.</p>
        <a class="btn btn-outline-dark btn-lg m-2" asp-area="" asp-controller="ParkVehicles" asp-action="Index">List</a>
        <a class="btn btn-outline-dark btn-lg m-2" asp-area="" asp-controller="ParkVehicles" asp-action="Create">Check-In</a>
        <a class="btn btn-outline-dark btn-lg m-2" asp-area="" asp-controller="ParkVehicles" asp-action="Search">Check-out</a>
